  @font-face {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 800;
    src: url("fonts/raleway/raleway-800.woff2") format("woff2");
  }
  @font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 400;
    src: url("fonts/rubik/rubik-400.woff2") format("woff2");
    font-display: swap;
  }
  
  @font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 700;
    src: url("fonts/rubik/rubik-700.woff2") format("woff2");
    font-display: swap;
  }
  
  @font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 800;
    src: url("fonts/rubik/rubik-800.woff2") format("woff2");
    font-display: swap;
  }
  html {
    height: 100%;
  }
  body {    
    margin: 0;    
    min-height: 100%;
    font-family: "Rubik", sans-serif;
    font-size: 18px;    
    line-height: 30px;
    font-weight: 400;
    color: #444444;
    background-color: #FFFFFF;  
    margin-left: auto;
    margin-right: auto;  
  } 
  .header-slider {
    width: 1440px;
    margin-left: auto;
    margin-right: auto; 
    margin-top: 0;
  }
  .visually-hidden {
    visibility: hidden;
  }
  /* Header */
  .wrapper {
    width: 1440px; 
    margin-top: 0px;       
    margin-left: auto;
    margin-right: auto;
    position: absolute;
  }
  .wrapper-catalog {
    width: 1160px; 
    margin-top: 0px;       
    margin-left: 0;
    margin-right: 0;
  }
  .page-header {
    color: #000000;    
    width: 1040px;     
    margin-top: 40px;
    margin-left:auto;
    margin-right: auto;       
  }
  
  .page-catalog-header {
    color: #000000;
    background-color: #FFE17F; 
    width: 1160px; 
    height: 186px; 
    margin: 40px auto; 
    margin-bottom: 0px;
  }
  .header-logo {
    width: 145px;
    height: 36px;
    margin-left: 0px;
    margin-top: -22px;
    background-image: url("../image/image-main/logo-device.svg"); 
    background-repeat: no-repeat;
    background-position-y: center;
    cursor: pointer;
  } 
  .header-logo:hover {
    background-image: url("../image/image-main/logo-hover.svg");
    background-repeat: no-repeat;
    background-position-y: center;
  } 
  .header-logo:focus {
    box-shadow: inset 0 0 0 2px #AF4FFF;
    outline: none;
  }
  .header-logo-catalog {
    width: 145px;
    margin-left: 60px;
    margin-top: -22px;
  }
  .navigation {
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;   
    width: 1040px;   
    margin: 0 auto;
    margin-left: 0px;
    margin-right: 0px;     
  }  
  .navigation-list {
    width: 1040px; 
    font-family: "Rubik", sans-serif;    
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;   
    color: #000000; 
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    list-style-type: none;        
  }    
  .navigation-catalog-item, .navigation-services-item {
    list-style-type: none;
  }
  .navigation-form {    
    width: 517px; 
    height: 40px;   
    text-decoration: none; 
    margin-right: 0;
    border: 0;    
  }
  .navigation-search {
    display: flex;
    flex-direction: row;    
  }
  .input {
    width: 359px;
    height: 40px;
    display: block;        
    background-color: #FFE17F;    
    background-image: url("../image/image-main/search.svg");
    background-repeat: no-repeat;
    background-position: 5%;    
    margin: 0;
    font-family: "Rubik", sans-serif;    
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;   
    color: #000000; 
    border-radius: 50px 0 0 50px;       
    padding-left: 48px;        
  }
  .submit {
    display: block;
    width: 160px;
    height: 40px;
    background-color: #FFE17F; 
    margin: 0;  
    border-radius: 0 50px 50px 0; 
  }
  .submit:hover {
    background-color: #000000;
    color: #FFFFFF;
  }
  .submit:focus {
    box-shadow: inset 0 0 0 2px #AF4FFF;
    outline: none;
  }
  .navigation-search {
    width: 517px;
    position: relative;
    font-family: "Rubik", sans-serif;    
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;            
  }
  .navigation-enter {
    width: 231px;     
  }  
  .navigation-compare {
    width: 107px;     
  }
  .navigation-pay {
    width: 98px;     
  }       
  .navigation-link {
    text-decoration: none; 
    font-family: "Rubik", sans-serif; 
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
    color: #000000;        
  }  
  .navigation-link:hover {
    color:#444444;
    fill: #444444;
  }
  .navigation-link:focus {
    box-shadow: inset 0 0 0 2px #AF4FFF;
    outline: none;
  }
  .navigation-icon {
    fill:#000000;
  }
  .navigation-icon:hover {
    fill:#444444;
  }
  .navigation-icon:focus {
    box-shadow: inset 0 0 0 2px #AF4FFF;
    outline: none;
  }
  .login-enter:hover {
    background-image: url("../image/image-main/login-user-hover.svg");
  }
  .navigation-services {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    line-height: 21px;
    font-weight: 800;
    color: #000000;    
    text-transform: uppercase;
    font-stretch: expanded;
    letter-spacing: 0.2em;       
    width: 1040px;       
    padding-left: 0px;
    margin-top: 30px;    
    display: flex;
    flex-direction: row; 
    box-sizing: border-box;  
    justify-content: flex-start;
  }
  .navigation-catalog-item {
    width: 293px;
  }
  .menu-item {
    width: 471px;  
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;  
    margin-left: 276px;
    column-gap: 22px;
    padding: 0px;
  }
  .navigation-catalog-link, .navigation-services-link {
    text-decoration: none;
    text-transform: uppercase; 
    color: #000000;    
  } 
  .navigation-catalog-link:focus {
    box-shadow: inset 0 0 0 2px #AF4FFF;
    outline: none;
  }
  .navigation-services-link:focus {
    box-shadow: inset 0 0 0 2px #AF4FFF;
    outline: none;
  }
  .slider-prev, .slider-next {
    background-color: #FFFFFF;
    border: 0;
  }
  .slider-prev {
    position: relative;
    bottom: 355px;
    left: 30px;
  }
  .slider-next {
    position: relative;
    bottom: 355px;
    left: 490px;
  }
  .main-container {
    flex-grow: 1;
    height:750px;
  }
  /* Header */  
  .main-index {
    background-color:#FFFFFF;
    background-size: 100% auto;
  }   
  .visually-hidden {
    margin: 0 auto;
    text-align: center;
  }    
  .number-product {
    font-family: "Rubik", sans-serif;
    font-size: 180px;
    text-align: right;
    line-height: 30px;
    font-weight: 700;
    color: #FFFFFF;
    padding-top: 230px;
    padding-left: 861px;
    padding-right: 49px;
    padding-bottom: 0px; 
    margin-block-end: 0px;   
    margin-top: 0px;
}
.conteiner {
  width: 1440px;  
  margin-left: auto;
  margin-right: auto;  
}
.property-first {
  width: 1160px;  
  margin-left: auto;
  margin-right: auto; 
  margin-top: 20px;    
}
.background-first {
  background-color:#FFE17F;
  width: 1160px;
  height: 300px;     
  font-family: "Rubik", sans-serif;
  font-size: 180px;
  text-align: right;
  line-height: 30px;
  font-weight: 700;
  color: #FFFFFF;    
  margin-right: auto; 
  margin-left: auto;
  margin-top: -10px;
}  
.slider-one {
  display: flex;  
  flex-direction: row-reverse;  
  justify-content: space-between;
  margin-top: -150px;  
}
.slider {
width: 560px;
}
.property-one {
  width: 560px;
  padding-top: 85px;    
}
  .breadcrumbs-link {
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
    color: #000000;
    text-decoration: none;    
  }
  /*стили каталог*/
  .catalog-products {
    width: 100%;
    background-color: #F0F0F0;
    margin-top: 35px;
  }   
  .catalog-conteiner {
    width: 1440px;
    margin: 0 auto;
    background-color: #F0F0F0;
    display: flex;    
  }
  .filter-conteiner {
    width: 320px;
    margin-left: 0px;
    padding-left: 140px;
  }
  .catalog-cart-pagination {
    width: 840px;
    margin-right: 0px;
    padding-right: 0px;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #FFFFFF;
  }
  .catalog-pagination-conteiner {
    width: 840px;    
    height: 70px;
    display: flex;
    flex-direction: row;    
    padding-top: 0px;  
    justify-content: space-between;  
    background-color: #F0F0F0;
  }
  .filter-sort-title {
    width: 147px;
    padding-left: 40px;
  }
  .sort-up-down {
    width: 60px;
    padding-right: 40px;
  }
  .pagination-conteiner-footer {
    width: 760px;
    height: 71px;
    margin-top: 40px;
    margin-bottom: 78px;
    margin-left: auto;
    margin-right: auto;
    background-color: #EBEBEB;       
       
  }
  .pagination {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    padding-top: 20px;

  }
  .pagination-block-1 {
    width: 128px;
    margin-left: 0px;
  }
  .pagination-block-2 {
    width: 200px;    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
  }
  .pagination-block-3 {
    width: 128px;
    margin-right: 0px;
  }
  .select-control {
    width: 160px;
    height: 30px;
  }
  /*----------*/
  .inner-header {
    width: 1079px;
    margin: 0 auto;
    margin-top: 35px;
  }  
      
  /* Хлебные крошки */
  .breadcrumbs {
    display: flex;
    margin: 0;
    padding: 0; 
  }    
    
  .breadcrumbs-item {
    margin-right: 36px;
    color: inherit;
    list-style-type: none;
  }    
  /*категории catalog */  
  .catalog-products {
    background-color: #F0F0F0;
  }
  .product-list {
    background-color: #FFFFFF;
    margin-bottom: 0px;
    width: 760px;
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 38px;
    padding-left: 0px;


  }
  .catalog-filter-title {
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    line-height: 19px;
    font-weight: 800;
    color: #000000;
    text-transform: uppercase;
  }
  .property-first-title {
    width: 560px;
    margin-block-end: 0px;
    margin-right: 0px;     
  }
  .property-first-title, .inner-header-title {
    font-family: "Raleway", sans-serif;
    font-size: 45px;
    line-height: 50px;
    font-weight: 800;
    color: #000000;     
  }
  .property-first-text {
    font-family: "Rubik", sans-serif;
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
    color: #444444;
  }
  .property-first-link {    
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 21px;
    text-align: center;
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;    
    background-image: url("../image/image-main/substrate.svg");
    background-repeat: no-repeat;
    background-position-y: center;
  }
  .property-first-link:hover {
    background-color: #FFE17F;
  }
  .property-first-link:focus {
    box-shadow: inset 0 0 0 2px #AF4FFF;
    outline: none;
  }
  .slider-picture-list {
    list-style-type: none;
  }
  .characteristic {
    font-family: "Rubik", sans-serif;
    line-height: 30px;
    font-weight: 400;
  }
  .characteristic-name {
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    font-size: 36px;   
    line-height: 30px;
    color: #000000;
  }
  .characteristic-title {
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    line-height: 30px;
    font-size: 16px;
    color: #444444;    
  } 
  /* Категории main */
  .catalog-categories {
    margin-top: 40px;
    margin-bottom: 70px;
  }
  .catalog-categoriest-list {
    width: 1160px;
    height: 253px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;    
    align-items: center;
    padding-left: 0px;
  }  
  .catalog-title {
    width: 160px;
    height: 60px;
    word-wrap: break-word;
    margin-bottom: 0px;
  }
  .virtual-reality {    
    width: 160px;
    height: 160px;
    background-image: url("../image/image-main/virtual-reality.svg");
    background-color: #FFE17F;    
    background-repeat: no-repeat;
    background-position: center;
  }
  .virtual-reality:hover {    
    background-color: #FFC700;    
  }
  .virtual-reality:focus {
    box-shadow: inset 0 0 0 2px #AF4FFF;
    outline: none;
  }
  .monopods-for-selfies {
    width: 160px;
    height: 160px;
    background-image: url("../image/image-main/monopods-for-selfies.svg");
    background-color: #FFE17F;    
    background-repeat: no-repeat;
    background-position: center;
  }
  .monopods-for-selfies:hover {    
    background-color: #FFC700;    
  }
  .action-cameras {
    width: 160px;
    height: 160px;
    background-image: url("../image/image-main/action-cameras.svg");
    background-color: #FFE17F;    
    background-repeat: no-repeat;
    background-position: center;
  }
  .action-cameras:hover{    
    background-color: #FFC700;    
  }
  .fitness-bracelets {
    width: 160px;
    height: 160px;
    background-image: url("../image/image-main/fitness-bracelets.svg");
    background-color: #FFE17F;    
    background-repeat: no-repeat;
    background-position: center;
  }
  .fitness-bracelets:hover {
    background-color: #FFC700;    
  }
  .smart-watches {
    width: 160px;
    height: 160px;
    background-image: url("../image/image-main/smart-watches.svg");
    background-color: #FFE17F;    
    background-repeat: no-repeat;
    background-position: center;
  }
  .smart-watches:hover {
    background-color: #FFC700;
  }
  .quadrocopters {
    width: 160px;
    height: 160px;
    background-image: url("../image/image-main/quadrocopters.svg");
    background-color: #FFE17F;    
    background-repeat: no-repeat;
    background-position: center;
  }
  .quadrocopters:hover {
    background-color: #FFC700;
  }
  .catalog-categories-item, .catalog-categories-link {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 24px;    
    color: #000000;
    text-decoration: none;
    list-style-type: none;
  }  
  .catalog-categories-link {
    box-shadow: inset 0 0 0 2px #AF4FFF;
    outline: none;
  }  
  .pagination-back, .pagination-forward {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 21px;    
    color: #000000;
    text-transform: uppercase;
  }
  .pagination-load {
    width: 760px;
    height: 55px;
    background-color: #FFFFFF;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;    
    border: 3px solid #E5E5E5;
    text-transform: uppercase;
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 18px; 
    display: flex;
    align-items: center;
    justify-content: center;    
  }
  .product-card-conteiner {
    display: grid;
    grid-template-rows: 380px 32px min-content min-content;
    grid-template-columns: 200px auto max-content;
    row-gap: 32px;
  }
  .product-card-link {
    grid-column: 1 / -1;
  }
  .product-card-title {
    margin-top: 0px;
    margin-bottom: 0px;
    text-overflow: ellipsis;
  }
  .product-card-title-link {
    grid-column: 1 / 2;
  }
  .product-card-price {
    grid-column: 3 / 4;
  }
  .product-card-title, .product-card {
    font-family: "Rubik", sans-serif;
    font-size: 18px;
    line-height: 20px;
    font-weight: 700;
    color: #000000;    
    list-style-type: none;
    text-align: left;
  }
  .product-card-title-link {
    text-decoration: none;
  }
  .product-card-price {
    font-family: "Rubik", sans-serif;
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
    color: #444444;    
  }
  /*сервисы*/
  .services {
    width: auto;    
    height: 289px;
    margin: 0 auto;
    margin-top: 135px;    
    background-color: #F0F0F0;
  }
  .tabs { 
    width: 1160px;      
    margin: 0 auto; 
    margin-top: -90px;       
    position: relative;        
  } 
  .services-tab { 
    display: none;  
    padding: 15px;
    padding-left: 116px;      
    position: relative; 
    top: -215px; 
    left: 280px;     
  } 
  .services-description {
    margin-left: 100px;    
  }
  input { 
    display: none; 
  } 
  /*-----блок сервисы на tabs*/
  .service-tabs { 
    display: block; 
    width: 245px; 
    margin-top: 18px;  
    padding: 10px; 
    padding-left: 25px;   
    cursor: pointer; 
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 21px;
    text-align: left;    
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;    
    list-style-type: none;
    letter-spacing: 0.2em;
    background-image: url("../image/image-main/substrate.svg");
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: left;        
  }   
  .service-tabs:hover {
    background-color:#000000;
    color: #FFE17F;
    background-image: none;
  }
  .service-tabs:focus {
    box-shadow: inset 0 0 0 2px #AF4FFF;
    outline: none;
  }
  input:checked + label { 
    color: #FFE17F; 
    background: #000000; 
  } 
  #tab1:checked ~ #content1, #tab2:checked ~ #content2, #tab3:checked ~ #content3, #tab4:checked ~ #content4 { 
    display: block; 
  } 
  .services-tab {
    width: 694px;       
    list-style-type: none;  
    background-image: url("../image/image-main/Rectangle.svg");  
    background-repeat: no-repeat;
    background-position: 0;  
  }  
  .services-title {
    font-family: "Raleway", sans-serif;    
    font-size: 50px;
    font-weight: 800;
    line-height: 50px;
    color: #000000;
    margin-bottom: 34px;
  }    
  .services-description {
    font-family: "Rubik", sans-serif;
    width: 448px;
    height: 90px;
    font-size: 18px;    
    line-height: 30px;
    font-weight: 400;
    color: #444444;
    margin-left: 0;
  } 
  .image-services {
    position:absolute;
    left: 650px;
    bottom: 35px;
  }  
  /*быстрая доставка*/
  .delivery-container {
    width: 1160px;
    height: 100px;  
    margin: 0 auto;  
    margin-top: 70px;
  }
  .delivery { 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;   
    flex-direction: row;  
    
  }  
  .delivery-link:focus {
    box-shadow: inset 0 0 0 2px #AF4FFF;
    outline: none;
  }
  .delivery-icon {
    width: 125px;
    height: 100px;
    background-color: #FFE17F;
    background-image: url("../image/image-main/express-delivery.svg");
    background-repeat: no-repeat;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: center;
    list-style-type: none;
  }
  .delivery-icon:hover {
    background-color: #FFC700;
  }
  .delivery-icon:focus {
    box-shadow: inset 0 0 0 2px #AF4FFF;
    outline: none;
  }
  .delivery-item-title {
    width: 910px;
    height: 100px;
    margin-top: 0;
    margin-bottom: 0; 
    background-color: #F0F0F0;         
  }  
  .delivery-title {
    font-family: "Raleway", sans-serif;       
    font-size: 20px;
    font-weight: 800;
    line-height: 23px;    
    color: #000000;
    background-color: #F0F0F0;
    text-align: center;    
    text-transform: uppercase;    
    letter-spacing: 3.2px;
    position: relative;
    top: 40px; 
    margin-top: 0;    
    margin-bottom: 0;      
  }
  .delivery-blok {
    width: 125px;
    height: 100px;
    background-color: #F0F0F0;      
  }
  .delivery-link {
    width: 40px;
    height: 40px;
    background-color: #DCDCDC;
    text-align: center;
    border-radius: 50%;
    margin:auto;
    margin-top: 30px;
    margin-bottom: 10px;
    background-image: url("../image/image-main/i-vector.svg");    
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: center;
    list-style-type: none;  
    text-decoration: none;
  }  
  .delivery-link:focus {
    box-shadow: inset 0 0 0 2px #AF4FFF;
    outline: none;
  }
  .index-columns {
   display: flex;
   flex-direction: row;
   justify-content: center;  
   flex-wrap: wrap; 
   color: #000000;
   background-color: #FFFFFF; 
   margin: 0 auto; 
   align-content: flex-start; 
   column-gap: 108px;  
   margin-top: 70px;
  }
  /* О нас и Контакты */
  .about-us {
    text-transform: uppercase;
    width: 520px; 
    background-image: url('../image/image-main/black-line.svg');  
    background-repeat: no-repeat;
    position: relative;
    top: 0;
    left: 0;
    
  }
  .about-us-title, .contacts-title {
    font-family: "Raleway", sans-serif;
    font-size: 50px;
    font-weight: 800;
    line-height: 50px;
    color: #000000;
    margin-bottom: 48px;
    margin-top: 40px;
  }
  .about-description, .contacts-description {
    font-family: "Rubik", sans-serif;
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
    color: #444444;
    text-transform: none;
    margin-bottom: 30px;
  }
  .about-us-list {
    margin-bottom: 40px;
  }
  .contacts {
    background-image: url('../image/image-main/black-line.svg');  
    background-repeat: no-repeat;
    position: relative;
    top: 0;
    left: 0;
  }
  .contacts-description {
    padding-right: 36px;
  }
  .about-li {
    color:#FFC700;    
  }
  .about-us-item {
    font-family: "Rubik", sans-serif;
    font-size: 18px;
    line-height: 20px;
    font-weight: 700;
    color: #000000;
    text-transform: none;
  }
  .more-about-us, .button-feedback {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 21px;
    text-align: center;
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;    
    background-image: url("../image/image-main/substrate.svg");
    background-repeat: no-repeat;
    background-position-y: center;
    letter-spacing: 0.2em;
  }
  .more-about-us:hover, .button-feedback:hover {
    background-color: #FFE17F;
    background-image: none;    
  }
  .more-about-us:focus, .button-feedback:focus {
    box-shadow: inset 0 0 0 2px #AF4FFF;
    outline: none;    
  }
  .button-feedback {
    margin-top: 40px;
  }
  .contacts {
    text-transform: uppercase;
    width: 532px;
  }
  .contacts-subtitle {
    font-family: "Rubik", sans-serif;
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    color: #444444;
    text-transform: capitalize;
    margin-top: 30px;
    margin-bottom: 15px;
  }
  .contacts-schedule {
    padding-left: 0px;
  }
.contacts-address-text, .contacts-schedule-item {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  color: #444444;
  list-style-type: none;
  text-transform: none;
  margin-bottom: 0;
}
.contacts-phone {
  font-size: 18px;
  line-height: 30px;
  font-style: normal;
  text-decoration-line: underline;
  text-transform: uppercase;
  color: #444444;
}
.subscribe {  
  width: 100%;
  background-color: #F0F0F0;
  margin-top: 70px;
}
.subscribe-block {  
  width: 1440px;
  margin: 0 auto;
  background-color: #F0F0F0; 
  list-style: none;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 126px;
}
.subscribe-title {
  font-family: "Raleway", sans-serif;
  width: 450px; 
  height: 100px;
  font-size: 50px;
  font-weight: 800;
  line-height: 50px;  
  color: #000000;
  margin-top: 64px;
  text-align: left;
  padding-left: 147px;  
  margin-bottom: 0; 
}
.subscribe-description {
  width: 560px;  
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  color: #444444;  
  padding-right: 133px;
  margin-top: 64px;
  margin-bottom: 0;
}
.newsletter-form-container {
  display: flex;
  flex-direction:row;
  width: 1158px;
  margin: 0 auto;   
  margin-bottom: 56px; 
}
.form-conteiner {
  width: 820px;
}
.field {
  display: inline-block;
  width: 557px;
  height: 51px;  
  background-color: #F0F0F0;
  border: none;
  background-image: url("../image/image-main/Rectangle-letter.svg");
  background-repeat: no-repeat;
  background-position-y: bottom;
  background-position-x: right;    
}
.field:hover {
  background-color:#DCDCDC;
}
.newsletter-button { 
  display: inline-block; 
  width: 253px;
  height: 57px;  
  border: 5px solid #CECECE;    
  font-family: "Raleway", sans-serif;  
  font-size: 18px;
  font-weight: 800;
  line-height: 21px; 
  letter-spacing: 0.2em;
  text-transform: uppercase;  
}
.free {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 160px;  
  padding-left: 175px;
}
.free-icon {
  width: 14px;   
}
.subscribe-text {
  width: 128px;
}
/* Footer */
.page-footer {
  font-family: "Rubik", sans-serif;  
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  color: #FFFFFF;
  background-color: #444444;
}
.footer-conteiner {
  display: flex;
  width: 1160px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}
.footer-contacts {
  width: 234px;    
}
.footer-sitelinks {
  width: 444px;  
}
.footer-html {
  width: 175px; 
  height: 116px;   
  margin-top: 135px;
  background-image: url("../image/image-main/logo-footer-html.svg");
  background-repeat: no-repeat;
  background-position-y: 70%;
  background-position-x: right;
}
.footer-html:hover {
  background-image: url("../image/image-main/footer-html-logo-hover.svg");
  background-repeat: no-repeat;
  background-position-y: 70%;
  background-position-x: right;
}
.footer-html:focus {
  box-shadow: inset 0 0 0 2px #AF4FFF;
  outline: none;
}
.footer-about-text, .footer-contacts-address-phone {
  font-style: normal;  
  color: #FFFFFF;
}
.footer-contacts-address-phone {
  position: absolute;
  
}
.footer-about-text {
  font-family: "Rubik", sans-serif;  
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
}
.footer-contacts-logo {
  margin-top: 64px;
}
.footer-about-text {
  margin-top: 35px;
  margin-bottom: 64px;
}
.footer-line {
  margin-bottom: 77px;
}
.footer-sitelinks {
  width: 444px;
  margin: 0 auto;  
}
.footer-sitelinks-list {
  padding-left: 0;
  display: grid;
  grid-template-columns: 125px 121px 128px;
  column-gap: 35px;
  margin-top: 137px;
  margin-bottom: 0;
}
.footer-sitelinks-item, .footer-sitelinks-link {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 800;
  text-align: center;
  color: #FFFFFF;
  text-decoration: none;
  text-transform: uppercase;  
  list-style-type: none;
}
.footer-sitelinks-link:hover {
  color: #FFC700;
  text-decoration: underline;
}
.footer-sitelinks-link:focus {
  box-shadow: inset 0 0 0 2px #AF4FFF;
  outline: none;
}
.footer-social {
  width: 150px;
  margin: 0 auto; 
}
.footer-social-list {
  display: grid;
  grid-template-columns: 40px 40px 40px;    
  padding-left: 0;
  column-gap: 15px;   
  margin-top: 0;
}
.footer-social-item, .footer-social-button {
  color: #FFFFFF;
  list-style-type: none;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;  
}
.footer-social-button {
  display: block;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.3);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px 16px;
  border-radius: 50%;
}
.footer-social-button:hover {
  background-color: #FFC700;
}
.footer-social-button:focus {
  box-shadow: inset 0 0 0 2px #AF4FFF;
  outline: none;
}
.footer-social-fc {
  background-image: url("../image/image-main/icon-facebook.svg");
}
.footer-social-ig {
  background-image: url("../image/image-main/icon-instagram.svg");
}
.footer-social-tw {
  background-image: url("../image/image-main/icon-twitter.svg");
}
.htmlacademy-link {
  color:#FFC700;
  text-decoration: none;
}
/* Footer */
